body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #333399, #ff00cc);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-card {
    width: 550px;
    height: 550px;
    background: rgba(255,255,255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.chart-card::before{
    content: '';
    position: absolute;
    background: rgba(255,255,255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.tweetDisplay-card {
    width: 550px;
    height: 550px;
    background: rgba(255,255,255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  .tweetDisplay-card::before{
    content: '';
    position: absolute;
    background: rgba(255,255,255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.table_selection {
    text-align: center;
    margin-left: 30%;
}

@media (max-width: 1500px) {
    body{
        padding: 2rem 0;
    }

    .chart-card {
        width: 550px;
        padding: 2rem;
    }
    .tweetDisplay-card {
        width: 550px;
        padding: 2rem;
    }
}