@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;600&display=swap');

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    width:50px;
    height:50px;
}

.nav_header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
}
.nav_tabs {
    list-style: none;
}

.nav_tabs li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_tabs li a {
    transition: all 0.3s ease 0s;
}

.nav_tabs li a:hover {
    color: #0088a9;
}

.header_button {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.header_button:hover {
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}