.tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
  width: 450px;
}

.tweet:hover {
  background: rgba(0, 0, 0, 0.03);
}

.tweet_header {
  display: flex;
}

.tweet_date {
  font-size: 15px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
  width: 150px;
}

.tweet_emotion {
  color: #5b7083;
  font-size: 15px;
  width: 100px;
}

.tweet_emotionValue {
  margin-left: 50px;
  color: #657786;
}
.tweet_content {
  margin-top: 8%;
  margin-left: -45%;
  width: 350px;
}

body {
  background-color: #fcfcfc;
  margin: 0;
}

#tweetDisplay {
  overflow-y: auto;
  height: 500px;
  width: 500px;
  z-index: 3;
  top: 13%;
  margin-left: 3%;
}